<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input type="text" class="form-control" placeholder="Buscar usuario">
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="usuarios.length === 0">
    <div class="col-md-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando...</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Usuarios registrados: <small style="color:orangered">{{ totalRegistros }} / {{ desde }} - {{ desde + 5 }}</small></h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Correo</th>
                            <th>Nombre</th>
                            <th>Role</th>
                            <th>Auth</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios">
                            <td></td>
                            <td>{{ usuario.email }}</td>
                            <td>{{ usuario.nombre }}</td>
                            <td>{{ usuario.role }}</td>
                            <td>
                                <label *ngIf="usuario.google" class="label label-info">Google</label>
                                <label *ngIf="!usuario.google" class="label label-success">Normal</label>
                            </td>
                            <td>
                                <button class="btn btn-primary" style="margin-right: 6px;">
                                    <i class="fa fa-save"></i>
                                </button>
                                <button class="btn btn-primary" style="background-color: red;">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button (click)="cambiarDesde(-5)" class="btn btn-secondarty mr-3">
                    Anteriores
                </button>
                <button (click)="cambiarDesde(5)" class="btn secondary">
                    Siguientes
                </button>
            </div>
        </div>
    </div>
</div>
